{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
   Profesional Experience
  </h2>

  {% for experience in experiences %}
  <div class="item {{ experience.type }}">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ experience.company }}</div>

      <div class="techs">{{ experience.techs }}</div>
    </div><!--//meta-->

    {% if experience.details %}
    <a href="#" class="details-more">Read more ...</a>
    <div class="details">
      {{ experience.details | markdownify }}
      <a href="#" class="details-less">Close</a>
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

  <a href="#" class="exp-more">Older Experiences ...</a>

  <a href="#" class="exp-less">Close Older</a>
</section><!--//section-->
{% endif %}

